/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


@layer utilities {
  .perspective {
    perspective: 2000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-30 {
    transform: rotateY(30deg);
  }
  
  .translate-z-20 {
    transform: translateZ(20px);
  }
  
  .-translate-z-20 {
    transform: translateZ(-20px);
  }
}
/* Añadir a globals.css */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-animate {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}